* {
  font-family:'Lato', 'Sans-Serif';
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  /*-moz-osx-font-smoothing: grayscale;*/
}
html, body {
  width:100%;
  /*overflow-x:hidden;*/
}
body {
  padding: 50px;
}

/* NAVIGATION and FOOTER*/
.header-img {
  width: 90%;
}
footer ul {
  padding: 0px;
  list-style: none;
}
footer ul li {
  display: inline;
  margin-right: 10px;
}
footer {
  border-top: 1px solid #d5d5d5;
  text-align: center;
}
p {
  font-size: 1.8em;
  line-height: 1.5em;
}


/* LINKS */
a {
  font-size: 1.0em;
  text-decoration: none;
  color: #404040;
  transition: .25s;
}
a:hover {
  text-decoration: none;
  color: #00cc66;
}
.links {
  color: #00cc66;
  transition: .5s;
}
.links:hover {
  color: #00a351;
}

/* index photo grid */
ul.posts li {
  list-style: none;
  padding-bottom: 30px;
}
.projects ul li {
  list-style: none;
  display: inline;
}
.projects img, iframe {
  width: 100%;
}
.proj-title {
  font-size: 3.5em;
  font-weight: 600;
  margin:0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ul.photo-grid {
  padding: 0px;
}
.img-wrap {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  /*margin-right: 10px;*/
  margin-bottom: 7.0em;
}
.proj-description {
  margin:0;
}



#intro {
  margin-bottom: 15em;
  margin-top: 5em;
}
.about-para p {
  line-height: 1.5em;
}

