/* GLOBAL STYLES */
* {
  font-family:'Lato', 'Sans-Serif';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
}

body {
  padding: 25px;
  max-width:750px!important; 
  margin:auto!important;
}

@media only screen and (max-width: 500px) { 
  body {
    padding: 2vh 5.75vw;
  }
}

.back-link {
  font-size: 0.8em;
}

img {
  border-radius: 12px;
}

/* NAVIGATION and FOOTER */
nav {
  margin-bottom: 3.75rem;
}
.name {
  /*font-family: 'Playfair Display', serif;*/
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-right: .5rem;
  color: #00cc66;
}
.name:hover{
  color: #00cc66!important;
  text-decoration: none!important;
}
.category {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  /*letter-spacing: .08rem;*/
  color: #272727;
  /*text-transform: uppercase;*/
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  margin-left: .75rem;
}
.nav-item {
  margin-left: 1rem;
}
.icons {
  float: right;
}
footer {
  font-size: .75rem;
  font-weight: 400;
  color: #a8a8a8;
  margin-top: 2rem;
  padding-top: .5rem;
  text-align: center;
}
.fa-2x {
  font-size: 4em!important;
  padding: 0.15em;
}

/* LINKS */
a {
  font-size: 1.0em;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  transition: .25s;
}
a:hover {
  text-decoration: none;
  color: currentColor;
}


/* ABOUT ME */
#intro {
  margin-top: 30px;
  margin-bottom: 3.5em;
  padding: 0px;
}

.opener {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-bottom: 30px;
}

.col-md-6 {
  padding: 1rem;
}

.project-card img {
  width: 100%;
}
.proj-title {
  margin-top: 1.3rem;
  font-weight: 700;
  font-size: 1.4rem!important;
  text-align: left;
  margin-bottom: .5rem;
}
.category {
  text-align: left;
  display: none;
}
.proj-description {
  margin-bottom: 20px;
}


/* PROJECT PAGES */
.portfolio-piece {
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0;
}

.portfolio-piece h1 {
  /*font-family: 'Playfair Display', serif;*/
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 10px;
}

.portfolio-piece h4, .portfolio-piece h1, .portfolio-piece h3 {
  /*text-align: center;*/
}

.portfolio-piece h3 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2rem;
  /*letter-spacing: .08rem;*/
  color: #272727;
  /*text-transform: uppercase;*/
  margin-top: 60px;
  margin-bottom: 24px;
}

.portfolio-piece p {
  margin-bottom: 20px;
}

.portfolio-piece img, .portfolio-piece iframe {
  padding-top: 24px;
  padding-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-caption {
  font-size: 0.8rem;
  line-height: 1rem;
  color: #272727;
  font-weight: 400;
  display: block;
  margin:auto;
}

.side-imgs {
  display: inline-block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}


