<!DOCTYPE html>
<html>
  <head>
    <title>Shannon Chu's Design Portfolio</title>
    <link rel="icon" href="http://digitalconfederacy.com/images/Articles/Urrday/GGInter/s/s.png"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>

    <nav>
    <img class="header-img" src="/images/shan.png" alt="Shannon Chu">
      <ul>
          <li><a href="/">PROJECTS</a></li>
          <li>//</li>
          <li><a href="/about.html">ABOUT</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <ul>
          <li><a href="mailto:shannonchu@berkeley.edu"><i class="fa fa-envelope-o fa-2x"></i></a></li>
          <li><a href="https://github.com/shannonchu" target="_newtab"><i class="fa fa-github fa-2x"></i></a></li>
          <li><a href="https://linkedin.com/in/shannonchu" target="_newtab"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
          <li><a href="https://behance.net/shannonchu" target="_newtab"><i class="fa fa-behance fa-2x"></i></a></li>
<!--           <li><a href="https://instagram.com/shannninski" target="_newtab"><i class="fa fa-instagram fa-2x"></i></a></li> -->
      </ul>
    </footer>
  </body>
</html>
