<!DOCTYPE html>
<html>
  <head>
    <title>Shannon Chu's Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="images/favicons/manifest.json">
    <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
  </head>
  <body>
    <nav>
        <a href="/"><div class="name">SHANNON CHU</div></a>
        <div>Designer based in the Bay Area</div>
    </nav>
    <div class="">
      {{ content }}
    </div>
    <footer>
      <a href="mailto:shannchu@gmail.com"><p style="float:left;">shannchu@gmail.com</p></a>
      <ul style="float:right;">
        <!-- <li><a href="mailto:shannonchu@berkeley.edu"><i class="fa fa-envelope-o fa-lg"></i></a></li> -->
        <li><a href="https://github.com/shannonchu" target="_newtab"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="https://linkedin.com/in/shannonchu" target="_newtab"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
      </ul>
    </footer>
  </body>
</html>
